  .left{
                background-color:  green;
            }
            .head{
                background-color:  orange;
            }.right{
                background-color:  red;
            }
            .foot{
                background-color:  blue;
            }
            
            table
            {
                border-color:black;color: black;margin:auto;width: 200px;height: 200px;
            }
            h1{
                text-align: center;
                
            }